{% extends "bar/fh.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/bar/team.css">
{% endblock %}
{% block content %}
    <div class="name">
        <h1 class="name_inf"><strong>КТО МЫ</strong></h1>
    </div>
    <div class="glav_block">
        <div class="man_inf">
            <img src="/static/img/bar/daniil.jpg" alt="">
            <h2>Тушков Даниил Денисович</h2>
            <h4>LEAD Disigner</h4>
            <p><h5>Soft-skills:</h5>Веселый, общительный<br><h5 style="margin-top: 8px;">Увлечения:</h5>пентболл, настольный тенис, самбо</p>
            <h4>+7(926)646-57-80</h4>
            <h4><a href="https://web.telegram.org/a/#1464814987">@DKolxoznik</a></h4>
        </div>
        <div class="man_inf">
            <img src="/static/img/bar/artem.jpg" alt="">
            <h2>Токмаков Артём Денисович</h2>
            <h4>Project manager</h4>
            <p><h5>Soft-skills:</h5>Ответственный, инициативный<br><h5 style="margin-top: 8px;">Увлечения:</h5>Страйкболл, эндуро, спорт</p>
            <h4>+7(960)681-14-66</h4>
            <h4><a href="https://web.telegram.org/a/#1335950922">@Artomak</a></h4>
        </div>
        <div class="man_inf">
            <img src="/static/img/bar/greg.jpg" alt="">
            <h2>Артюков Григорий Андреевич</h2>
            <h4>Web-developer</h4>
            <p><h5>Soft-skills:</h5>Комумоникабельный, исполнительный<br><h5 style="margin-top: 8px;">Увлечения:</h5>Настольный тенис, КУДО, дайвинг</p>
            <h4>+7(925)237-87-10</h4>
            <h4><a href="https://web.telegram.org/a/#5546727040">@GregSigma</a></h4>
        </div>
        <div class="man_inf">
            <img src="/static/img/bar/daria.jpg" alt="">
            <h2>Сухарева Дарья Дмитриевна</h2>
            <h4>Web-developer</h4>
            <p><h5>Soft-skills:</h5>Комумоникабельный, исполнительный<br><h5 style="margin-top: 8px;">Увлечения:</h5>Настольный тенис, КУДО, дайвинг</p>
            <h4>+7(925)046-50-26</h4>
            <h4><a href="https://web.telegram.org/a/#1144367902">@SDar_ia</a></h4>
        </div>
    </div>
{% endblock %}