{% extends "fh.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block content %}
<div class="blok_1">
  <div class="one">
    <p>Здравствуйте, меня зовут Токмаков Артём, и я основатель команды “BreaDevelopers”. Эта команда получилась
      из друзей, которые хотят и могут изменить мир IT.
    </p>
  </div>
  <div class="two">
    <h2>Как мы познакомились?</h2>
    <p>Мы поступили в колледж IThub, и сразу нашли общий язык. Мы сильно выделялись на фоне остальной группы,
      мы были очень энергичными.
    </p>
  </div>
</div>
<div class="birth">
  <h2 class="big_h2">Как родилась идея?</h2>
  <div class="birth_inf">
    <div class="birth_1">
      <p>Я пересматривал классику: все части “Матрица”, “Волк с Уолл-стрит”. После просмотра последнго фильма нам дали
        задание придумать идею для проекта, речь зашла о барах и ресторанах, и в этот переломный момент, я соединил два
        образа, объединив биржу и бар.</p>
    </div>
    <div class="birth_2">
      <p>Когда я рассказал, об этой идее команде, все поддержали меня. После этого, мы услышали про студенческий
        акселератор и решили воплотить эту идею в жизнь. Мы начали искать способы и возможности реализовать этот
        проект.</p>
    </div>
  </div>
</div>
<div id="idea_inf" class="idea_inf">
  <div class="div_big_h2">
    <h2 class="big_h2">Meet on Wall Street</h2>
  </div>
  <h2 class="description_idea_title">Описание идеи</h2>
  <h2 class="description_problem_title">У каждого заведения есть<br>две проблемы.</h2>
  <div class="idea_inf_1">
    <p>Первая связана со складом, где хранится два вида товара: популярный и не пользующийся большим спросом. <br> <br>
      Проблем с первым, как правило, нет. Но есть сложности с продажей непопулярной продукции.

    </p>
  </div>
  <div class="fon_after_first_problem">
  </div>
  <div class="idea_inf_2">
    <p>Вторая проблема бара связана с привлечением новых клиентов. Конечно,
      важно сохранять текущих клиентов, но также важно привлекать новых.
      <br><br>
      Если не заниматься активным привлечением новых клиентов, будет сложно
      расширять бизнес и увеличивать его масштабы.
    </p>
    <br>
  </div>
</div>
<div class="inf">
  <!-- <img src="/static/img/bar/Arrow.png" alt=""> -->
  <h2>Решение</h2>
  <div class="inf_1">
    <h2>Концепция бара</h2>
    <p>В барах будет создана атмосфера фондового рынка постоянно меняющимися ценами на товар. Каждый сможет стать
      участником иммерсионного шоу, ведь все цены будут зависеть от текущего спроса на товар.
      <br> <br> В баре будут установлены электронные таблицы, на которых будут отображаться изменяющиеся цены.
      В программу, которая будет управлять ценами, мы зашьём полностью управляемую верхнюю и нижнюю планку цен.
      <br> <br>
      Также у клиентов бара будет возможность установить мобильное приложение, в котором они смогут в реальном времени
      отслеживать цены на продукцию, а также смогут заключить фьючерсный контракт.
    </p>
  </div>
  <div class="inf_2">
    <h2>Концепция ресторана</h2>
    <p>К ресторанам применимо всё вышеперечисленное, но появится аукцион, на котором будут продаваться фьючерсы на
      сезонные блюда.
    </p>
  </div>
</div>
<div class="titel">
  <div class="fon_after_titel_WoWS">
  </div>
  <div class="titel_inf">
    <div class="titel_inf_1">
      <h2>Что будет в телефоне?</h2>
      <p>
        Также у клиентов заведения будет возможность установить приложение на телефон,
        в котором они смогут в реальном времени отслеживать цены на продукцию бара, а также смогут заключить фьючерсный
        контракт.
      </p>
    </div>
    <!-- <div class="titel_inf_2">
          <h2>Знакомство</h2>
          <p>Все мы поступили в колледж IThub, кафедра распределила нас в одну
            группу. Мы сразу нашли общий язык(не программирования:) Мы сильно
            выделялись на фоне остальной группы, мы были очень энергичными.
          </p>
        </div> -->
  </div>
</div>
<div class="name">
  <h1 class="name_inf">КТО МЫ</h1>
</div>
<div class="glav_block">
  <div class="man_inf">
    <img src="/static/img/bar/Daniil.jpg" alt="">
    <h2>Тушков Даниил Денисович</h2>
    <h4>LEAD Disigner</h4>
    <h5>Soft-skills:</h5>
    <p>Веселый, общительный</p>
    <h5 style="margin-top: 8px;">Увлечения:</h5>
    <p>пентболл, настольный тенис, самбо</p>
    <h4>+7(926)646-57-80</h4>
    <h4><a href="https://t.me/DKolxoznik">@DKolxoznik</a></h4>
  </div>
  <div class="man_inf">
    <img src="/static/img/bar/artem.jpg" alt="">
    <h2>Токмаков Артём Денисович</h2>
    <h4>Project manager</h4>
    <h5>Soft-skills:</h5>
    <p>Ответственный, инициативный</p>
    <h5 style="margin-top: 8px;">Увлечения:</h5>
    <p>Страйкболл, эндуро, спорт</p>
    <h4>+7(960)681-14-66</h4>
    <h4><a href="https://t.me/Artomak">@Artomak</a></h4>
  </div>
  <div class="man_inf">
    <img src="/static/img/bar/greg.jpg" alt="">
    <h2>Артюков Григорий Андреевич</h2>
    <h4>Web-developer</h4>
    <h5>Soft-skills:</h5>
    <p>Комумоникабельный, исполнительный</p>
    <h5 style="margin-top: 8px;">Увлечения:</h5>
    <p>Настольный тенис, КУДО, дайвинг</p>
    <h4>+7(925)237-87-10</h4>
    <h4><a href="https://t.me/GregSigma">@GregSigma</a></h4>
  </div>
  <div class="man_inf">
    <img src="/static/img/bar/daryi.jpg" alt="">
    <h2>Сухорева Дарья Дмитриевна</h2>
    <h4>Web-developer</h4>
    <h5>Soft-skills:</h5>
    <p>Разносторонняя, организованная</p>
    <h5 style="margin-top: 8px;">Увлечения:</h5>
    <p>Настольный тенис, танцы, скульптинг</p>
    <h4>+7(925)046-50-26</h4>
    <h4><a href="https://t.me/SDar_ia">@SDar_ia</a></h4>
  </div>
  <div class="man_inf">
    <img src="/static/img/bar/liza.png" alt="">
    <h2>Сонина Елизавета Владимеровна</h2>
    <h4>Web-designer</h4>
    <p>
    <h5>Soft-skills:</h5>
    <p>креативная, отличный аналитик</p>
    <h5 style="margin-top: 8px;">Увлечения:</h5>
    <p>Танцы, вокал, плавание</p>
    <h4>+7(916)669-77-69</h4>
    <h4><a href="https://t.me/elizaveta_sosnina">@elizaveta_sosnina</a></h4>
  </div>
  <script src="/static/js/jQuery/jQuery.js"></script>
</div>
{% endblock %}
