<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bar/pasport.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="img_top">
            <!-- <img src="/static/img/bar/fon_after_titel_WoW_.png" alt=""> -->
        </div>
        <div class="fon_for_text">
            <div class="text">
                <div class="blok_1">
                    <div class="title_for_blok_1">
                        <h2> Meet on Wall Street</h2>
                    </div>
                    <h3>Описание идеи</h3>
                    <p>Наша идея — это бар с постоянно меняющимися ценами и VIP-ресторан c аукционом. В них посетители
                        смогут почувствовать себя участниками иммерсионного шоу, так как всё ценообразование зависит от
                        спроса. Теперь в наше заведение будут приходить не только для общения с друзьями, а ещё и для
                        развлечения. </p>
                </div>
                <div class="blok_2">
                    <h3>Функционал</h3>
                    <p>Мы предоставим приложение, сервер и ПО для заведения, которые облегчат бухгалтерию.
                        У клиентов заведения будет возможность установить мобильное приложение, в котором они смогут в
                        реальном времени отслеживать цены на напитки и не только, а также смогут заключить фьючерсный
                        контракт. Такая продажа облегчит планирование, так как заведение будет знать сколько и в какое
                        время нужно продукции.
                        <br><br><br>
                        В приложение мы добавим возможность дарения фьючерсов, что облегчит процесс их перепродажи, а
                        также создадим реферальную систему. Это простимулирует клиентов привлекать своих друзей и
                        знакомых, что даст заведению дополнительную прибыль.
                        Также планируется реализовать аукцион, на котором будут продаваться фьючерсы на сезонные блюда,
                        ещё у нас есть задумка для продвижения бренда с помощью создания мерча и развития сети
                        заведений.
                    </p>
                </div>
                <div class="blok_3">
                    <h3>Модели пользователей(ЦА)</h3>
                    <p>
                        1) Молодёжь - Постоянно меняющиеся цены для развлечения (Электронные таблицы в заведении,
                        приложение) <br>
                        2) Реселлеры - Дарение фьючерсов для заработка (Приложение) <br>
                        3) Персонал бара и ресторана - ПО для более удобной работы (ПО, мерч) <br>
                        4) Федотов - Мерч для роста авторитета среди молодёжи (Мерч) 
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>