{% extends "fh.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/pasport.css">
<style media="screen">
  .header {
    top: -130px;
  }
</style>
{% endblock %}
{% block content %}

    <div class="main">
        <div class="img_top">
            <!-- <img src="/static/img/bar/fon_after_titel_WoW_.png" alt=""> -->
        </div>
        <div class="fon_for_text">
            <div class="text">
                <div class="blok_1">
                    <div class="title_for_blok_1">
                        <h2> Meet on Wall Street</h2>
                    </div>
                    <h3>Описание идеи</h3>
                    <p>Наша идея — это бар с постоянно меняющимися ценами и VIP-ресторан c аукционом. В них посетители
                        смогут почувствовать себя участниками иммерсионного шоу, так как всё ценообразование зависит от
                        спроса. Теперь в наше заведение будут приходить не только для общения с друзьями, а ещё и для
                        развлечения. </p>
                </div>
                <div class="blok_2">
                  <h3>Функционал</h3>
                  <div class="list_function">
                    <details>
                      <summary> Аналитика – Для владельцев бара</summary>
                      <ul>
                        <details>
                          <summary>
                            Товар
                          </summary>
                          <ul>
                            <details>
                              <summary> Проданный товар</summary>
                              <ul>
                                <li> Выручка</li>
                                <li> Чистая прибыль</li>
                                <li> Диаграмма проданного товара за месяц</li>
                              </ul>
                            </li>
                          </details>
                          <details>
                            <summary> Лежащий на складе товар</summary>
                            <ul>
                              <details>
                                <summary> Непроданный товар</summary>
                                <ul>
                                  <li>Диаграмма непроданного товара</li>
                                </ul>
                              </details>
                              <details>
                                <summary> Забронированный товар</summary>
                                <ul>
                                  <li>Диаграмма фьючерсов ко всему товару на складе</li>
                                  <li>Кол-во текущих фьючерсов</li>
                                </ul>
                              </details>
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </li>
                </details>
              </ul>
            </details>
            <details>
              <summary> Мерч – Для покупателей/персонала </summary>
              <ul>
                <details>
                  <summary>
                    Реклама
                  </summary>
                  <ul>
                    <li> Выручка</li>
                    <li> Чистая прибыль</li>
                  </ul>
                </li>
              </details>
            </ul>
          </details>
          <details>
            <summary> Приложение/сайт – Для потребителя</summary>
            <ul>
              <details>
                <summary>
                  Фьючерсы
                </summary>
                <ul>
                  <details>
                    <summary> Покупка</summary>
                    <ul>
                      Через сайт/приложение </ul>
                    </li>
                  </details>
                  <details>
                    <summary> Продажа</summary>
                    <ul>
                      <li>Через реселлинговую страницу сайта/приложение</li>
                    </ul>
                  </details>
                  <details>
                    <summary> Забронированный товар</summary>
                    <ul>
                      <li>Возможность выложить фьючерс на продажу</li>
                      <li>Страница со всеми выложенными на продажу фьючерсами</li>
                      <li>Покупка за виртуальную валюту</li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
            <details>
              <summary> График цен </summary>
              <ul>
                <li>В реальном времени</li>
                <li>История цены</li>
              </ul>
            </details>
            <details>
              <summary> Реферальная система </summary>
              <li>Регистрация по ссылке</li>
              <details>
                <summary> Подарки </summary>
                <ul>
                  <li>Фьючерс</li>
                  <li>Скидки</li>
                  <li>Виртуальная валюта</li>
                </ul>
              </details>
            </details>
            <details>
              <summary> Покупка виртуальной валюты </summary>
              <ul>
                <li> Возможность купить</li>
                <li> Нельзя вывести</li>
                <li> Курс 10 вв. = 1 р. </li>
              </ul>
            </details>
            <details>
              <summary> Аукцион </summary>
              <details>
                <summary> На повышение </summary>
                <ul>
                  <li> Ставка только при имении на балансе суммы ставки</li>
                </ul>
              </details>
            </details>
          </li>
        </ul>
      </li>
    </ul>
  </details>
  <details>
    <summary> ПО – Для персонала </summary>
    <ul>
      <li> Бухгалтерия</li>
      <li> Ведение учёта склада</li>
    </ul>
  </details>
  <details>
    <summary> Сервер – Для ПО и Приложения </summary>
    <details>
      <summary> Постоянно меняющиеся цены</summary>
      <details>
        <summary>Повышение</summary>
        <details>
          <summary>При покупке</summary>
          <ul>
            <li> Фьючерсов </li>
            <li> В баре реального товара</li>
          </ul>
        </details>
      </details>
      <details>
        <summary>Понижение</summary>
        <ul>
          <li> При малом спросе </li>
          <li> При застое на складе</li>
        </ul>
      </details>
    </details>
    <details>
      <summary> Обработка всей информации </summary>
      <ul>
        <li> Внесение в ЕГИСЗ и Честный знак</li>
      </ul>
    </details>
  </details>
</div>
</div>
<div class="blok_3">
  <h3>Модели пользователей(ЦА)</h3>
  <p>
    1) Молодёжь - Постоянно меняющиеся цены для развлечения (Электронные таблицы в заведении,
    приложение) <br>
    2) Реселлеры - Дарение фьючерсов для заработка (Приложение) <br>
    3) Персонал бара и ресторана - ПО для более удобной работы (ПО, мерч) <br>
    4) Федотов - Мерч для роста авторитета среди молодёжи (Мерч)
  </p>
</div>
<div class="blok_4">
  <h3>UI/UX</h3>
  <a
  href="https://www.figma.com/file/7ZbXWmdiJwKMDzYqfGL0Rq/UI%2FUX?type=design&node-id=0%3A1&mode=design&t=eRJ669AP47GSUAt8-1">сайт</a>
</div>
</div>
</div>
</div>
<script src="/static/js/jQuery/jQuery.js"></script>
<script src="/static/js/scripts/fh_move.js"></script>
  {% endblock %}
